.Parent-board {
  display: flex;
  justify-content: space-between;
}

.Child-board {
  display: flex;
  justify-content: space-between;
}

.Col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
