.box {
  height: 35;
  width: 35;
  border: 1px solid #626262;
}

.current-box {
  height: 35;
  width: 35;
  border: 1px solid #bfff00;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    50%  {background-color: #626262;}
    100% {background-color: #bfff00;}
}

/* Standard syntax */
@keyframes example {
  50%  {background-color: #626262;}
  100% {background-color: #bfff00;}
}

.taken-box-X {

}

.taken-box-O {

}
